* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Informasi Kulineria */
.info {
    margin-top: 20px; 
    padding: 40px;
    text-align: left;
    background: #ffffff;
    border-radius: 20px;
    margin-bottom: 40px;
}

.info h1 {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    color: #C43E4A;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.descLine {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    line-height: 1.6;
}

/* Detail Reservasi */
.reservasiDetails {
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    margin-bottom: 40px;
}
.reservasiDetails h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.reservasiDetailsWrapper{
    display: flex;
}
.reservasiDetailsWrapper .desc{
    width: 80%;
}
.reservasiDetails .batal{
    align-items: center;
    padding: 10px 10px;
}
.reservasiDetails .batal button {
    width: 100%;
    padding: 18px;
    background-color: #C43E4A;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    max-height: 80%;
}

.reservasiDetails .batal button:hover{
    background-color: #a83640;
}

/* Buat Reservasi */
.buatReservasi {
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
}

.buatReservasi h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}

.reservasiWrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;    
}
/* Card */
.card {
    border-radius: 15px;
    padding-right: 60px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 3px solid #C43E4A;
}

/* Denah */
.denah {
    flex: 1;
}

/* Pilihan Meja */
.seatsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.seatOption {
    position: relative;
    cursor: pointer;
}

.seatOption input[type="radio"] {
    display: none;
}

.seat {
    width: 100%;
    height: 100px;
    background: #ffffff;
    border: 3px solid #C43E4A;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    user-select: none;
}


/* Hover box meja yang tidak unavailable */
.seatOption:not(.unavailable):hover .seat {
    background: #fff0f1;
}

/* Box meja yang diselect */
.seatOption input[type="radio"]:checked + .seat {
    background: #C43E4A;
    color: #ffffff;
}

/* Meja yang unavailable */
.seatOption.unavailable {
    pointer-events: none;
}
.seatOption.unavailable .seat {
    background: #cccccc;
    color: #848484;
    border-color: #848484;
    cursor: not-allowed;
}

/* Confirm button */
.confirm-btn {
    width: 100%;
    padding: 18px;
    background-color: #C43E4A;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.confirm-btn:hover {
    background-color: #a83640;
}

.confirm-btn:disabled {
    background: #cccccc;
    cursor: not-allowed;
}
