/* Header styling */
header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C43E4A;
  color: #fff;
  z-index: 10;
  height: 80px;
}

.leftHeader {
    display: flex;
    align-items: center;   
    height: 100%;          
}

.logo {
    height: auto;
    max-height: 60px;      
    width: auto;           
    object-fit: contain;
}

.rightHeader a {
    text-decoration: none;
}

.logout_btn {
    padding: 12px 32px;
    background: #ffffff;
    color: #C43E4A;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}

.logout_btn:hover {
    background-color: #f0f0f0;
}

/* Button styling */
button {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Epilogue-Regular", sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}