<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/login_style.css">
    <script src="/scripts.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
        
        <form action="/login" class="login_form" method="post">
            <div class="login_container">
                <div class="logo-container">
                    <img src="../assets/kulineria-new [png].png" alt="Kulineria Logo" class="logo">
                </div>
                <label for="email"><b>Email</b></label>
                <input type="text" name="email" required><br>
                <label for="password"><b>Kata Sandi</b></label>
                <input type="password" name="password" required><br>
                <a href="homepage_user.html" class="btn-login">Masuk</a>
            </div>
        </form>
        <div id="grad"></div>
    </div>
    <div></div>
</body>

</html>